body {
    background-color: #cccccc;
}

h1 {
    background-color: yellow;
}

.color {
    background-color: mediumspringgreen;
    transition-property: all;
    transition-duration: 0.5s;
}

.color:hover {
    background-color: orange;
    transition-property: all;
    transition-duration: 2s;
}



.kiste {
    height: 200px;
    width: 200px;
}
.bkgr1 {
    background-image: url(../img/katze.jpg);
    background-position: center center;
    background-size: cover;
}

.schatten1 {
    -webkit-box-shadow: 2px 2px 2px 2px #8AEBFF;
    box-shadow: 2px 2px 2px 2px #8AEBFF;
}

.border_bottom {
    border-bottom: 2px #000 dashed;
}